"Homens membros por escolaridade" --\> 2021 --\> Considerando Todos que trabalharam na RIP no período de 2021

In [24]:
USE bi_rip_refinedZone
GO

SELECT
    ds_escolaridade_funcionarios,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Masculino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2020, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2022, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01)
    
GROUP BY ds_escolaridade_funcionarios, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

ds_escolaridade_funcionarios,tp_sexo_funcionario,contagem
SEGUNDO GRAU (COLEGIAL) COMPLETO,Masculino,7935
PRIMEIRO GRAU (GINASIO) COMPLETO,Masculino,1366
PRIMEIRO GRAU (GINASIO) INCOMPLETO,Masculino,678
SEGUNDO GRAU (COLEGIAL) INCOMPLETO,Masculino,673
SUPERIOR COMPLETO,Masculino,251
OUTRO,Masculino,206
SUPERIOR INCOMPLETO,Masculino,39
POS-GRADUACAO/ESPECIALIZACAO,Masculino,28
MESTRADO COMPLETO,Masculino,5

"Homens membros por escolaridade" --\> 2022 --\> Considerando Todos que trabalharam na RIP no período de 2022

In [25]:
USE bi_rip_refinedZone
GO

SELECT
    ds_escolaridade_funcionarios,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Masculino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2023, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01)
    
GROUP BY ds_escolaridade_funcionarios, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

ds_escolaridade_funcionarios,tp_sexo_funcionario,contagem
SEGUNDO GRAU (COLEGIAL) COMPLETO,Masculino,9506
PRIMEIRO GRAU (GINASIO) COMPLETO,Masculino,1648
SEGUNDO GRAU (COLEGIAL) INCOMPLETO,Masculino,924
PRIMEIRO GRAU (GINASIO) INCOMPLETO,Masculino,612
OUTRO,Masculino,292
SUPERIOR COMPLETO,Masculino,249
SUPERIOR INCOMPLETO,Masculino,45
POS-GRADUACAO/ESPECIALIZACAO,Masculino,27
MESTRADO COMPLETO,Masculino,4

"Homens membros por escolaridade" --\> 2023 --\> Considerando Todos que trabalharam na RIP no período de 2023

In [26]:
USE bi_rip_refinedZone
GO

SELECT
    ds_escolaridade_funcionarios,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Masculino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2024, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01)
    
GROUP BY ds_escolaridade_funcionarios, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

ds_escolaridade_funcionarios,tp_sexo_funcionario,contagem
SEGUNDO GRAU (COLEGIAL) COMPLETO,Masculino,11455
PRIMEIRO GRAU (GINASIO) COMPLETO,Masculino,1732
SEGUNDO GRAU (COLEGIAL) INCOMPLETO,Masculino,969
PRIMEIRO GRAU (GINASIO) INCOMPLETO,Masculino,722
OUTRO,Masculino,305
SUPERIOR COMPLETO,Masculino,298
SUPERIOR INCOMPLETO,Masculino,58
POS-GRADUACAO/ESPECIALIZACAO,Masculino,29
MESTRADO COMPLETO,Masculino,2

Perfil das Mulheres membros - cor/raça --\> 2021 --\> Considerando Todos que trabalharam na RIP no período 2021

In [29]:
USE bi_rip_refinedZone
GO

SELECT
    tp_raca_funcionario,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Feminino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2020, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2022, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01)
    
GROUP BY tp_raca_funcionario, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

tp_raca_funcionario,tp_sexo_funcionario,contagem
Parda,Feminino,413
Branca,Feminino,279
Não Informado,Feminino,57
Negra,Feminino,47
Indigena,Feminino,1
Amarela,Feminino,1

Perfil das Mulheres membros - cor/raça --\> 2022 --\> Considerando Todos que trabalharam na RIP no período 2022

In [30]:
USE bi_rip_refinedZone
GO

SELECT
    tp_raca_funcionario,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Feminino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2023, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01)
    
GROUP BY tp_raca_funcionario, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

tp_raca_funcionario,tp_sexo_funcionario,contagem
Parda,Feminino,494
Branca,Feminino,302
Não Informado,Feminino,160
Negra,Feminino,61
Indigena,Feminino,2
Amarela,Feminino,2

Perfil das Mulheres membros - cor/raça --\> 2023 --\> Considerando Todos que trabalharam na RIP no período 2023

In [34]:
USE bi_rip_refinedZone
GO

SELECT
    tp_raca_funcionario,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Feminino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2024, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01)
    
GROUP BY tp_raca_funcionario, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

tp_raca_funcionario,tp_sexo_funcionario,contagem
Parda,Feminino,634
Branca,Feminino,381
Não Informado,Feminino,257
Negra,Feminino,96
Amarela,Feminino,6
Indigena,Feminino,2

Perfil das Homens membros - cor/raça --\> 2021 --\> Considerando Todos que trabalharam na RIP no período 2021

In [35]:
USE bi_rip_refinedZone
GO

SELECT
    tp_raca_funcionario,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Masculino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2020, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2022, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01)
    
GROUP BY tp_raca_funcionario, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

tp_raca_funcionario,tp_sexo_funcionario,contagem
Parda,Masculino,7281
Branca,Masculino,1985
Negra,Masculino,1045
Não Informado,Masculino,821
Amarela,Masculino,41
Indigena,Masculino,8

Perfil das Homens membros - cor/raça --\> 2022 --\> Considerando Todos que trabalharam na RIP no período 2022

In [36]:
USE bi_rip_refinedZone
GO

SELECT
    tp_raca_funcionario,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Masculino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2023, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01)
    
GROUP BY tp_raca_funcionario, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

tp_raca_funcionario,tp_sexo_funcionario,contagem
Parda,Masculino,8369
Branca,Masculino,2055
Não Informado,Masculino,1667
Negra,Masculino,1166
Amarela,Masculino,40
Indigena,Masculino,10

Perfil das Homens membros - cor/raça --\> 2023 --\> Considerando Todos que trabalharam na RIP no período 2023

In [37]:
USE bi_rip_refinedZone
GO

SELECT
    tp_raca_funcionario,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Masculino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2024, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01)
    
GROUP BY tp_raca_funcionario, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

tp_raca_funcionario,tp_sexo_funcionario,contagem
Parda,Masculino,9030
Não Informado,Masculino,2690
Branca,Masculino,2386
Negra,Masculino,1390
Amarela,Masculino,60
Indigena,Masculino,14

 Perfil das Mulheres membros por tipo de deficiência --\> 2021 --\> Considerando Todos que trabalharam na RIP no período 2021

In [40]:
USE bi_rip_refinedZone
GO

SELECT
    tp_defic_funcionarios,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Feminino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2020, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2022, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01)
    
GROUP BY tp_defic_funcionarios, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

tp_defic_funcionarios,tp_sexo_funcionario,contagem
Não Portador,Feminino,784
Física,Feminino,7
Visual,Feminino,4
Auditiva,Feminino,3

 Perfil das Mulheres membros por tipo de deficiência --\> 2022 --\> Considerando Todos que trabalharam na RIP no período 2022

In [41]:
USE bi_rip_refinedZone
GO

SELECT
    tp_defic_funcionarios,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Feminino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2023, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01)
    
GROUP BY tp_defic_funcionarios, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

tp_defic_funcionarios,tp_sexo_funcionario,contagem
Não Portador,Feminino,1010
Física,Feminino,7
Visual,Feminino,2
Auditiva,Feminino,2

 Perfil das Mulheres membros por tipo de deficiência --\> 2023 --\> Considerando Todos que trabalharam na RIP no período 2023

In [42]:
USE bi_rip_refinedZone
GO

SELECT
    tp_defic_funcionarios,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Feminino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2024, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01)
    
GROUP BY tp_defic_funcionarios, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

tp_defic_funcionarios,tp_sexo_funcionario,contagem
Não Portador,Feminino,1356
Física,Feminino,10
Visual,Feminino,5
Auditiva,Feminino,5

 Perfil das Homens membros por tipo de deficiência --\> 2021 --\> Considerando Todos que trabalharam na RIP no período 2021

In [43]:
USE bi_rip_refinedZone
GO

SELECT
    tp_defic_funcionarios,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Masculino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2020, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2022, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01)
    
GROUP BY tp_defic_funcionarios, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

tp_defic_funcionarios,tp_sexo_funcionario,contagem
Não Portador,Masculino,11096
Física,Masculino,30
Auditiva,Masculino,27
Visual,Masculino,24
Intelectual (Mental),Masculino,2
Reabilitado,Masculino,2

 Perfil das Homens membros por tipo de deficiência --\> 2022 --\> Considerando Todos que trabalharam na RIP no período 2022

In [44]:
USE bi_rip_refinedZone
GO

SELECT
    tp_defic_funcionarios,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Masculino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2023, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01)
    
GROUP BY tp_defic_funcionarios, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

tp_defic_funcionarios,tp_sexo_funcionario,contagem
Não Portador,Masculino,13226
Física,Masculino,30
Visual,Masculino,23
Auditiva,Masculino,22
Reabilitado,Masculino,4
Intelectual (Mental),Masculino,2

|  |
| --- |
|  <span style="font-size: 14px;">&nbsp;Perfil das Homens membros por tipo de deficiência --&gt; 2022 --&gt; Considerando Todos que trabalharam na RIP no período 2022</span><br> |

In [45]:
USE bi_rip_refinedZone
GO

SELECT
    tp_defic_funcionarios,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Masculino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2024, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01)
    
GROUP BY tp_defic_funcionarios, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

tp_defic_funcionarios,tp_sexo_funcionario,contagem
Não Portador,Masculino,15448
Física,Masculino,47
Visual,Masculino,37
Auditiva,Masculino,28
Intelectual (Mental),Masculino,5
Reabilitado,Masculino,4
Multipla,Masculino,1

|  |
| --- |
|  |

```
 Perfil das Mulheres membros por faixa --> 2021 --> Considerando Todos que trabalharam na RIP no período 2021

```

|

In [47]:
USE bi_rip_refinedZone
GO

WITH X AS (
SELECT
    CASE 
        WHEN vl_idade_funcionarios BETWEEN 14 AND 18 THEN '14-18'
        WHEN vl_idade_funcionarios BETWEEN 19 AND 24 THEN '19-24'
        WHEN vl_idade_funcionarios BETWEEN 25 AND 34 THEN '25-34'
        WHEN vl_idade_funcionarios BETWEEN 35 AND 44 THEN '35-44'
        WHEN vl_idade_funcionarios BETWEEN 45 AND 54 THEN '45-54'
        ELSE '55+'
        END AS faixa,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Feminino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2020, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2022, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01)
    
GROUP BY vl_idade_funcionarios
)

SELECT faixa, SUM(contagem) FROM X
GROUP BY faixa
ORDER BY SUM(contagem) DESC;

faixa,(No column name)
35-44,318
25-34,269
45-54,135
55+,46
19-24,30

 Perfil das Mulheres membros por faixa --\> 2022 --\> Considerando Todos que trabalharam na RIP no período 2022

In [48]:
USE bi_rip_refinedZone
GO

WITH X AS (
SELECT
    CASE 
        WHEN vl_idade_funcionarios BETWEEN 14 AND 18 THEN '14-18'
        WHEN vl_idade_funcionarios BETWEEN 19 AND 24 THEN '19-24'
        WHEN vl_idade_funcionarios BETWEEN 25 AND 34 THEN '25-34'
        WHEN vl_idade_funcionarios BETWEEN 35 AND 44 THEN '35-44'
        WHEN vl_idade_funcionarios BETWEEN 45 AND 54 THEN '45-54'
        ELSE '55+'
        END AS faixa,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Feminino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2023, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01)
    
GROUP BY vl_idade_funcionarios
)

SELECT faixa, SUM(contagem) FROM X
GROUP BY faixa
ORDER BY SUM(contagem) DESC;

faixa,(No column name)
35-44,385
25-34,360
45-54,166
19-24,56
55+,54

 Perfil das Mulheres membros por faixa --\> 2023 --\> Considerando Todos que trabalharam na RIP no período 2023

In [49]:
USE bi_rip_refinedZone
GO

WITH X AS (
SELECT
    CASE 
        WHEN vl_idade_funcionarios BETWEEN 14 AND 18 THEN '14-18'
        WHEN vl_idade_funcionarios BETWEEN 19 AND 24 THEN '19-24'
        WHEN vl_idade_funcionarios BETWEEN 25 AND 34 THEN '25-34'
        WHEN vl_idade_funcionarios BETWEEN 35 AND 44 THEN '35-44'
        WHEN vl_idade_funcionarios BETWEEN 45 AND 54 THEN '45-54'
        ELSE '55+'
        END AS faixa,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Feminino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2024, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01)
    
GROUP BY vl_idade_funcionarios
)

SELECT faixa, SUM(contagem) FROM X
GROUP BY faixa
ORDER BY SUM(contagem) DESC;

faixa,(No column name)
25-34,534
35-44,462
45-54,178
19-24,146
55+,50
14-18,6

Homens faixa etaria 2021

In [50]:
USE bi_rip_refinedZone
GO

WITH X AS (
SELECT
    CASE 
        WHEN vl_idade_funcionarios BETWEEN 14 AND 18 THEN '14-18'
        WHEN vl_idade_funcionarios BETWEEN 19 AND 24 THEN '19-24'
        WHEN vl_idade_funcionarios BETWEEN 25 AND 34 THEN '25-34'
        WHEN vl_idade_funcionarios BETWEEN 35 AND 44 THEN '35-44'
        WHEN vl_idade_funcionarios BETWEEN 45 AND 54 THEN '45-54'
        ELSE '55+'
        END AS faixa,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Masculino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2020, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2022, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01)
    
GROUP BY vl_idade_funcionarios
)

SELECT faixa, SUM(contagem) FROM X
GROUP BY faixa
ORDER BY SUM(contagem) DESC;

faixa,(No column name)
35-44,4162
25-34,2783
45-54,2499
55+,1318
19-24,419

homens faixa etaria 2022

In [51]:
USE bi_rip_refinedZone
GO

WITH X AS (
SELECT
    CASE 
        WHEN vl_idade_funcionarios BETWEEN 14 AND 18 THEN '14-18'
        WHEN vl_idade_funcionarios BETWEEN 19 AND 24 THEN '19-24'
        WHEN vl_idade_funcionarios BETWEEN 25 AND 34 THEN '25-34'
        WHEN vl_idade_funcionarios BETWEEN 35 AND 44 THEN '35-44'
        WHEN vl_idade_funcionarios BETWEEN 45 AND 54 THEN '45-54'
        ELSE '55+'
        END AS faixa,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Masculino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2023, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01)
    
GROUP BY vl_idade_funcionarios
)

SELECT faixa, SUM(contagem) FROM X
GROUP BY faixa
ORDER BY SUM(contagem) DESC;

faixa,(No column name)
35-44,4775
25-34,3432
45-54,2839
55+,1473
19-24,788

faixa etaria 2023

In [52]:
USE bi_rip_refinedZone
GO

WITH X AS (
SELECT
    CASE 
        WHEN vl_idade_funcionarios BETWEEN 14 AND 18 THEN '14-18'
        WHEN vl_idade_funcionarios BETWEEN 19 AND 24 THEN '19-24'
        WHEN vl_idade_funcionarios BETWEEN 25 AND 34 THEN '25-34'
        WHEN vl_idade_funcionarios BETWEEN 35 AND 44 THEN '35-44'
        WHEN vl_idade_funcionarios BETWEEN 45 AND 54 THEN '45-54'
        ELSE '55+'
        END AS faixa,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Masculino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2024, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01)
    
GROUP BY vl_idade_funcionarios
)

SELECT faixa, SUM(contagem) FROM X
GROUP BY faixa
ORDER BY SUM(contagem) DESC;

faixa,(No column name)
35-44,5359
25-34,4349
45-54,3017
55+,1448
19-24,1387
14-18,3

Mulheres por escolaridade 2021

In [53]:
USE bi_rip_refinedZone
GO

SELECT
    ds_escolaridade_funcionarios,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Feminino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2020, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2022, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01)
    
GROUP BY ds_escolaridade_funcionarios, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

ds_escolaridade_funcionarios,tp_sexo_funcionario,contagem
SEGUNDO GRAU (COLEGIAL) COMPLETO,Feminino,512
SUPERIOR COMPLETO,Feminino,137
PRIMEIRO GRAU (GINASIO) COMPLETO,Feminino,35
SUPERIOR INCOMPLETO,Feminino,35
PRIMEIRO GRAU (GINASIO) INCOMPLETO,Feminino,25
SEGUNDO GRAU (COLEGIAL) INCOMPLETO,Feminino,20
OUTRO,Feminino,17
POS-GRADUACAO/ESPECIALIZACAO,Feminino,16
MESTRADO COMPLETO,Feminino,1

Mulheres por escolaridade 2022

In [54]:
USE bi_rip_refinedZone
GO

SELECT
    ds_escolaridade_funcionarios,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Feminino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2023, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01)
    
GROUP BY ds_escolaridade_funcionarios, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

ds_escolaridade_funcionarios,tp_sexo_funcionario,contagem
SEGUNDO GRAU (COLEGIAL) COMPLETO,Feminino,651
SUPERIOR COMPLETO,Feminino,152
PRIMEIRO GRAU (GINASIO) COMPLETO,Feminino,67
SEGUNDO GRAU (COLEGIAL) INCOMPLETO,Feminino,39
SUPERIOR INCOMPLETO,Feminino,37
PRIMEIRO GRAU (GINASIO) INCOMPLETO,Feminino,36
OUTRO,Feminino,23
POS-GRADUACAO/ESPECIALIZACAO,Feminino,15
MESTRADO COMPLETO,Feminino,1

Mulheres por escolaridade 2023

In [55]:
USE bi_rip_refinedZone
GO

SELECT
    ds_escolaridade_funcionarios,
    tp_sexo_funcionario,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Feminino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2024, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01)
    
GROUP BY ds_escolaridade_funcionarios, tp_sexo_funcionario
ORDER BY COUNT(1) DESC;

ds_escolaridade_funcionarios,tp_sexo_funcionario,contagem
SEGUNDO GRAU (COLEGIAL) COMPLETO,Feminino,964
SUPERIOR COMPLETO,Feminino,186
PRIMEIRO GRAU (GINASIO) COMPLETO,Feminino,69
SEGUNDO GRAU (COLEGIAL) INCOMPLETO,Feminino,46
SUPERIOR INCOMPLETO,Feminino,45
PRIMEIRO GRAU (GINASIO) INCOMPLETO,Feminino,24
OUTRO,Feminino,24
POS-GRADUACAO/ESPECIALIZACAO,Feminino,16
DOUTORADO COMPLETO,Feminino,1
MESTRADO COMPLETO,Feminino,1

Numero absoluto de empregados 31 de dezembro 2021

In [8]:
USE bi_rip_refinedZone
GO

SELECT
    COUNT(1)
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01) AND
    tp_situacao_folha <> 'Transferido'

(No column name)
10044

Numero absoluto de empregados 31 de dezembro 2022

In [17]:
USE bi_rip_refinedZone
GO

SELECT
    COUNT(1)
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01) AND
    tp_situacao_folha <> 'Transferido'

cd_filial_funcionarios,nm_funcionario_funcionarios,cd_matricula_funcionarios,ds_escolaridade_funcionarios,ds_estadoCivil_funcionarios,tp_defic_funcionarios,ds_faixaEtaria_funcionarios,vl_salario_funcionarios,vl_idade_funcionarios,dt_admissao_funcionarios,dt_demissao_funcionario,cd_centroCusto_funcionarios,cd_funcao_funcionarios,ds_funcao_funcionarios,tp_maoObra_funcionarios,tp_sexo_funcionario,cd_filialMatricula_funcionarios,tp_situacao_folha,tp_raca_funcionario
A3,LEONARDO MACHADO BAPTISTA,116207,SUPERIOR COMPLETO,SOLTEIRO(A),Não Portador,20-30,"3361,22",24,2021-02-03,NULL,99917059,01731,ANALISTA DE DADOS JR,Indireta,Masculino,A3116207,Normal,Branca

Pessoas com deficiência (quadro geral): Percentual de empregados com deficiência contratados em relação ao quadro geral em 31 de  dezembro de 2021. --\> 2022

In [22]:
USE bi_rip_refinedZone
GO

WITH QUADRO AS (
SELECT
    COUNT(1) AS x
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01) AND
    tp_situacao_folha <> 'Transferido'
),

DEFIC AS (
    SELECT
        COUNT(1) AS y
    FROM dpp.vw_dim_funcionarios
    WHERE
        dt_admissao_funcionarios > DATEFROMPARTS(2021, 12, 31) AND
        dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01) AND
        tp_defic_funcionarios NOT IN ('Não Portador', 'N/A')
)



SELECT
    CAST((SELECT y FROM DEFIC) AS FLOAT) / CAST((SELECT x FROM QUADRO) AS FLOAT) * 100

(No column name)
"0,22899243329350857"

Pessoas com deficiência (quadro geral): Percentual de empregados com deficiência contratados em relação ao quadro geral em 31 de  dezembro de 2021. --\> 2023

In [23]:
USE bi_rip_refinedZone
GO

WITH QUADRO AS (
SELECT
    COUNT(1) AS x
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01) AND
    tp_situacao_folha <> 'Transferido'
),

DEFIC AS (
    SELECT
        COUNT(1) AS y
    FROM dpp.vw_dim_funcionarios
    WHERE
        dt_admissao_funcionarios > DATEFROMPARTS(2022, 12, 31) AND
        dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01) AND
        tp_defic_funcionarios NOT IN ('Não Portador', 'N/A')
)



SELECT
    CAST((SELECT y FROM DEFIC) AS FLOAT) / CAST((SELECT x FROM QUADRO) AS FLOAT) * 100

(No column name)
"0,3783353245718837"

Pessoas com deficiência (quadro geral): Percentual de empregados com deficiência contratados em relação ao quadro geral em 31 de dezembro de 2022

In [24]:
USE bi_rip_refinedZone
GO

WITH QUADRO AS (
SELECT
    COUNT(1) AS x
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01) AND
    tp_situacao_folha <> 'Transferido'
),

DEFIC AS (
    SELECT
        COUNT(1) AS y
    FROM dpp.vw_dim_funcionarios
    WHERE
        dt_admissao_funcionarios > DATEFROMPARTS(2022, 12, 31) AND
        dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01) AND
        tp_defic_funcionarios NOT IN ('Não Portador', 'N/A')
)



SELECT
    CAST((SELECT y FROM DEFIC) AS FLOAT) / CAST((SELECT x FROM QUADRO) AS FLOAT) * 100

(No column name)
"0,41703248463564535"

Mulheres (quadro geral): Percentual de mulheres no quadro geral de empregados em 31 de  dezembro de 2022

In [25]:
USE bi_rip_refinedZone
GO

WITH QUADRO AS (
SELECT
    COUNT(1) AS x
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01) AND
    tp_situacao_folha <> 'Transferido'
),

MULHERES AS (
    SELECT
    COUNT(1) AS y
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01) AND
    tp_situacao_folha <> 'Transferido' AND tp_sexo_funcionario = 'Feminino'
)

SELECT
    CAST((SELECT y FROM MULHERES) AS FLOAT) / CAST((SELECT x FROM QUADRO) AS FLOAT) * 100

(No column name)
"8,41747146619842"

Pessoas Negras (quadro geral): Percentual de negros no quadro geral de empregados em 31 de  dezembro de 2021.

In [26]:
USE bi_rip_refinedZone
GO

WITH QUADRO AS (
SELECT
    COUNT(1) AS x
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01) AND
    tp_situacao_folha <> 'Transferido'
),

RACA AS (
    SELECT
    COUNT(1) AS y
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01) AND
    tp_situacao_folha <> 'Transferido' AND tp_raca_funcionario = 'Negra'
)

SELECT
    CAST((SELECT y FROM RACA) AS FLOAT) / CAST((SELECT x FROM QUADRO) AS FLOAT) * 100

(No column name)
"9,368777379530068"

Pessoas Negras (quadro geral): Percentual de negros no quadro geral de empregados em 31 de  dezembro de 2022.

In [27]:
USE bi_rip_refinedZone
GO

WITH QUADRO AS (
SELECT
    COUNT(1) AS x
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01) AND
    tp_situacao_folha <> 'Transferido'
),

RACA AS (
    SELECT
    COUNT(1) AS y
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01) AND
    tp_situacao_folha <> 'Transferido' AND tp_raca_funcionario = 'Negra'
)

SELECT
    CAST((SELECT y FROM RACA) AS FLOAT) / CAST((SELECT x FROM QUADRO) AS FLOAT) * 100

(No column name)
"8,724758560140474"

Percentual de empregados com até 24 anos em 31 de dezembro de 2021

In [28]:
USE bi_rip_refinedZone
GO

WITH QUADRO AS (
SELECT
    COUNT(1) AS x
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01) AND
    tp_situacao_folha <> 'Transferido'
),

RACA AS (
    SELECT
    COUNT(1) AS y
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01) AND
    tp_situacao_folha <> 'Transferido' AND
    vl_idade_funcionarios < 25
)

SELECT
    CAST((SELECT y FROM RACA) AS FLOAT) / CAST((SELECT x FROM QUADRO) AS FLOAT) * 100

(No column name)
"4,4205495818399045"

Percentual de empregados com até 24 anos em 31 de dezembro de 2022

In [29]:
USE bi_rip_refinedZone
GO

WITH QUADRO AS (
SELECT
    COUNT(1) AS x
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01) AND
    tp_situacao_folha <> 'Transferido'
),

RACA AS (
    SELECT
    COUNT(1) AS y
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01) AND
    tp_situacao_folha <> 'Transferido' AND
    vl_idade_funcionarios < 25
)

SELECT
    CAST((SELECT y FROM RACA) AS FLOAT) / CAST((SELECT x FROM QUADRO) AS FLOAT) * 100

(No column name)
"6,859086918349429"

Percentual de empregados com mais de 45 anos em 31 de dezembro de 2021

In [30]:
USE bi_rip_refinedZone
GO

WITH QUADRO AS (
SELECT
    COUNT(1) AS x
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01) AND
    tp_situacao_folha <> 'Transferido'
),

RACA AS (
    SELECT
    COUNT(1) AS y
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2021, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01) AND
    tp_situacao_folha <> 'Transferido' AND
    vl_idade_funcionarios > 45
)

SELECT
    CAST((SELECT y FROM RACA) AS FLOAT) / CAST((SELECT x FROM QUADRO) AS FLOAT) * 100

(No column name)
"31,05336519315014"

Percentual de empregados com mais de 45 anos em 31 de dezembro de 2022

In [31]:
USE bi_rip_refinedZone
GO

WITH QUADRO AS (
SELECT
    COUNT(1) AS x
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01) AND
    tp_situacao_folha <> 'Transferido'
),

RACA AS (
    SELECT
    COUNT(1) AS y
FROM dpp.vw_dim_funcionarios
WHERE
    (
    dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) OR
    dt_demissao_funcionario IS NULL
    ) AND
    dt_admissao_funcionarios < DATEFROMPARTS(2023, 01, 01) AND
    tp_situacao_folha <> 'Transferido' AND
    vl_idade_funcionarios > 45
)

SELECT
    CAST((SELECT y FROM RACA) AS FLOAT) / CAST((SELECT x FROM QUADRO) AS FLOAT) * 100

(No column name)
"30,37752414398595"

Perfil das Aprendizes <span style="color: var(--vscode-foreground);">: Aprendizes mulheres - Total de Mulheres</span>

In [151]:
USE bi_rip_refinedZone
GO

SELECT
    COUNT(1),
    tp_raca_funcionario
FROM dpp.vw_dim_funcionarios
WHERE
    ds_funcao_funcionarios LIKE '%TRAINEE%' AND
    tp_sexo_funcionario = 'Masculino' AND
    tp_situacao_folha <> 'Transferido' AND
    (
        (
            dt_demissao_funcionario > DATEFROMPARTS(2020, 12, 31) AND
            dt_demissao_funcionario < DATEFROMPARTS(2022, 01, 01)
            OR dt_demissao_funcionario IS NULL
        )  AND
        dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01)
    )
GROUP BY tp_raca_funcionario
ORDER BY COUNT(1) DESC

(No column name),tp_raca_funcionario
3,Branca
2,Parda

|  |
| --- |
| Perfil das Aprendizes: Aprendizes mulheres por tipo de deficiência: auditiva <br> |

In [158]:
USE bi_rip_refinedZone
GO

SELECT
    COUNT(1),
    tp_defic_funcionarios
FROM dpp.vw_dim_funcionarios
WHERE
    ds_funcao_funcionarios LIKE '%TRAINEE%' AND
    tp_sexo_funcionario = 'Masculino' AND
    tp_situacao_folha <> 'Transferido' AND
    (
        (
            dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) AND
            dt_demissao_funcionario < DATEFROMPARTS(2024, 01, 01)
            OR dt_demissao_funcionario IS NULL
        ) AND
        dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01)
    )
GROUP BY tp_defic_funcionarios
ORDER BY COUNT(1) DESC

(No column name),tp_defic_funcionarios
8,Não Portador

|  |
| --- |
| Perfil das Aprendizes: Aprendizes mulheres - Por Faixa etária:<br> |

In [161]:
USE bi_rip_refinedZone
GO

WITH X AS (
SELECT
    CASE 
        WHEN vl_idade_funcionarios BETWEEN 14 AND 18 THEN '14-18'
        WHEN vl_idade_funcionarios BETWEEN 19 AND 24 THEN '19-24'
        WHEN vl_idade_funcionarios BETWEEN 25 AND 34 THEN '25-34'
        WHEN vl_idade_funcionarios BETWEEN 35 AND 44 THEN '35-44'
        WHEN vl_idade_funcionarios BETWEEN 45 AND 54 THEN '45-54'
        ELSE '55+'
        END AS faixa,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Masculino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2024, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01) AND
    ds_funcao_funcionarios LIKE '%TRAINEE%'
    
GROUP BY vl_idade_funcionarios
)

SELECT faixa, SUM(contagem) FROM X
GROUP BY faixa
ORDER BY SUM(contagem) DESC;

faixa,(No column name)
25-34,8

|  |
| --- |
| Perfil das Aprendizes: Total de Aprendizes mulheres com Ensino fundamental incompleto<br> |

In [173]:
USE bi_rip_refinedZone
GO

SELECT
    COUNT(1),
    tp_raca_funcionario
FROM dpp.vw_dim_funcionarios
WHERE
    ds_funcao_funcionarios LIKE '%TRAINEE%' AND
    tp_sexo_funcionario = 'Masculino' AND
    tp_situacao_folha <> 'Transferido' AND
    (
        (
            dt_demissao_funcionario > DATEFROMPARTS(2020, 12, 31) AND
            dt_demissao_funcionario < DATEFROMPARTS(2022, 01, 01)
            OR dt_demissao_funcionario IS NULL
        ) AND
        dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01) AND
        ds_escolaridade_funcionarios IN (
            'POS-GRADUACAO/ESPECIALIZACAO',
            'DOUTORADO COMPLETO',
            'MESTRADO COMPLETO'
        )
    )
GROUP BY tp_raca_funcionario
ORDER BY COUNT(1) DESC

|  |
| --- |
| Perfil das Aprendizes: Aprendizes mulheres com Ensino fundamental completo, por raça/etnia<br> |

In [83]:
USE bi_rip_refinedZone
GO

SELECT
    COUNT(1),
    tp_raca_funcionario
FROM dpp.vw_dim_funcionarios
WHERE
    ds_funcao_funcionarios LIKE '%APRENDIZ%' AND
    tp_sexo_funcionario = 'Feminino' AND
    tp_situacao_folha <> 'Transferido' AND
    (
        (
            dt_demissao_funcionario > DATEFROMPARTS(2020, 12, 31) AND
            dt_demissao_funcionario < DATEFROMPARTS(2024, 01, 01)
            OR dt_demissao_funcionario IS NULL
        ) AND
        dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01) AND
        ds_escolaridade_funcionarios = 'SUPERIOR COMPLETO'
    )
GROUP BY tp_raca_funcionario
ORDER BY COUNT(1) DESC

Perfil das Aprendizes <span style="color: var(--vscode-foreground);">: Aprendizes mulheres - Total de Mulheres</span>

In [146]:
USE bi_rip_refinedZone
GO

SELECT
    COUNT(1),
    dt_admissao_funcionarios, dt_demissao_funcionario
FROM dpp.vw_dim_funcionarios
WHERE
    ds_funcao_funcionarios LIKE '%TRAINEE%' AND
    tp_sexo_funcionario = 'Masculino' AND
    tp_situacao_folha <> 'Transferido' AND
    (
        (
            dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) AND
            dt_demissao_funcionario < DATEFROMPARTS(2024, 01, 01)
            OR dt_demissao_funcionario IS NULL
        )  AND
        dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01)
    )
GROUP BY dt_admissao_funcionarios, dt_demissao_funcionario
ORDER BY COUNT(1) DESC

(No column name),dt_admissao_funcionarios,dt_demissao_funcionario
1,2022-02-07,2023-02-06
1,2023-01-16,2023-03-01
1,2023-01-09,2023-05-15
1,2023-01-16,2023-06-06
1,2023-01-16,2023-07-01
1,2023-01-16,2023-10-09
1,2023-01-16,2023-11-24
1,2023-01-16,2023-12-19

|  |
| --- |
| Perfil dos Aprendizes: Aprendizes homens por tipo de deficiência:<br> |

In [94]:
USE bi_rip_refinedZone
GO

SELECT
    COUNT(1),
    tp_defic_funcionarios
FROM dpp.vw_dim_funcionarios
WHERE
    ds_funcao_funcionarios LIKE '%APRENDIZ%' AND
    tp_sexo_funcionario = 'Masculino' AND
    tp_situacao_folha <> 'Transferido' AND
    (
        (
            dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) AND
            dt_demissao_funcionario < DATEFROMPARTS(2024, 01, 01)
            OR dt_demissao_funcionario IS NULL
        ) AND
        dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01)
    )
GROUP BY tp_defic_funcionarios
ORDER BY COUNT(1) DESC

(No column name),tp_defic_funcionarios
20,Não Portador
1,Intelectual (Mental)

Perfil dos Aprendizes<span style="color: var(--vscode-foreground);">: Aprendizes homens - Por Faixa etária:</span>

In [72]:
USE bi_rip_refinedZone
GO

WITH X AS (
SELECT
    CASE 
        WHEN vl_idade_funcionarios BETWEEN 14 AND 18 THEN '14-18'
        WHEN vl_idade_funcionarios BETWEEN 19 AND 24 THEN '19-24'
        WHEN vl_idade_funcionarios BETWEEN 25 AND 34 THEN '25-34'
        WHEN vl_idade_funcionarios BETWEEN 35 AND 44 THEN '35-44'
        WHEN vl_idade_funcionarios BETWEEN 45 AND 54 THEN '45-54'
        ELSE '55+'
        END AS faixa,
    COUNT(1) AS contagem
FROM dpp.vw_dim_funcionarios
WHERE 
    tp_sexo_funcionario = 'Masculino' AND 
    tp_situacao_folha <> 'Transferido' AND
    (
        dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) AND
        dt_demissao_funcionario < DATEFROMPARTS(2024, 01, 01)
        OR dt_demissao_funcionario IS NULL
    )  AND
    dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01) --AND
    -- ds_funcao_funcionarios LIKE '%APRENDIZ%'
    
GROUP BY vl_idade_funcionarios
)

SELECT faixa, SUM(contagem) FROM X
GROUP BY faixa
ORDER BY SUM(contagem) DESC;

faixa,(No column name)
35-44,5358
25-34,4348
45-54,3016
55+,1448
19-24,1387
14-18,3

escolaridade aprendiz homem

In [114]:
USE bi_rip_refinedZone
GO

SELECT
    COUNT(1),
    tp_raca_funcionario
FROM dpp.vw_dim_funcionarios
WHERE
    ds_funcao_funcionarios LIKE '%APRENDIZ%' AND
    tp_sexo_funcionario = 'Masculino' AND
    tp_situacao_folha <> 'Transferido' AND
    (
        (
            dt_demissao_funcionario > DATEFROMPARTS(2022, 12, 31) AND
            dt_demissao_funcionario < DATEFROMPARTS(2024, 01, 01)
            OR dt_demissao_funcionario IS NULL
        ) AND
        dt_admissao_funcionarios < DATEFROMPARTS(2024, 01, 01)
    ) AND ds_escolaridade_funcionarios IN ('PRIMEIRO GRAU (GINASIO) COMPLETO', 'SEGUNDO GRAU (COLEGIAL) INCOMPLETO', 'SEGUNDO GRAU (COLEGIAL) COMPLETO', 'SUPERIOR INCOMPLETO')
GROUP BY tp_raca_funcionario
ORDER BY COUNT(1) DESC

(No column name),tp_raca_funcionario
8,Parda
6,Não Informado
5,Branca
1,Negra

Totais:

In [127]:
USE bi_rip_refinedZone
GO

WITH TEMPO AS (
SELECT
    *,
    CASE 
        WHEN dt_demissao_funcionario = '' OR dt_demissao_funcionario IS NULL THEN DATEDIFF(YEAR, dt_admissao_funcionarios, GETDATE())
        WHEN dt_demissao_funcionario <> NULL OR dt_demissao_funcionario <> '' THEN DATEDIFF(YEAR, dt_admissao_funcionarios, dt_demissao_funcionario)
    END AS tempo_empresa
FROM dpp.vw_dim_funcionarios
WHERE
    tp_sexo_funcionario = 'Feminino' AND
    tp_situacao_folha <> 'Transferido' AND
    (
        (
            dt_demissao_funcionario > DATEFROMPARTS(2020, 12, 31) AND
            dt_demissao_funcionario < DATEFROMPARTS(2022, 01, 01)
            OR dt_demissao_funcionario IS NULL
        ) AND
        dt_admissao_funcionarios < DATEFROMPARTS(2022, 01, 01)
    )
),

FAIXA AS (
    SELECT 
        *,
        CASE
            WHEN tempo_empresa < 1 THEN 'Menos de 1 ano'
            WHEN tempo_empresa BETWEEN 1 AND 2 THEN '1-2'
            WHEN tempo_empresa BETWEEN 3 AND 5 THEN '3-5'
            WHEN tempo_empresa BETWEEN 6 AND 10 THEN '6-10'
            WHEN tempo_empresa BETWEEN 11 AND 15 THEN '11-15'
            WHEN tempo_empresa > 16 THEN '16+'
        END as faixas
    FROM TEMPO
)

SELECT COUNT(1), faixas FROM FAIXA
GROUP BY faixas
ORDER BY COUNT(1) DESC

(No column name),faixas
261,Menos de 1 ano
240,3-5
202,1-2
56,6-10
24,11-15
15,16+